name: erddap test data pull

on:
  schedule:
    # uses UTC/GMT time (+ 5 hrs)
    ####- cron: "0 17 * * 3" # Every Wednesday at 1200 hrs = 1700 UTC
    #- cron: "0 12 1 * *" # Noon UTC on 1st day of month
    - cron: '0 10 * * *' # 10am UTC on every day (5 am EST)
# Optionally, trigger manually from the GitHub Actions UI
  workflow_dispatch:

permissions:
  contents: write

jobs:

  build:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GH_RELEASE }}
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: false

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: set up pandoc
        uses: r-lib/actions/setup-pandoc@v2

      - name: Install command line packages
        run: |
          sudo apt update
          sudo apt-get install libcurl4-openssl-dev libgit2-dev
#          sudo apt-get install  libgdal-dev libcurl4-gnutls-dev libgit2-dev libudunits2-dev libharfbuzz-dev libfribidi-dev
        shell: bash

      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.2.0'

      - name: Install packages
        run: |
          install.packages("pak")
          pak::pak(c("here","stringr","usethis","rmarkdown","gt","knitr"))
          pak::pak("NOAA-EDAB/buoydata")
        shell: Rscript {0}

      - name: Save current rdas
        run: |
          load(here::here("data/buoy_data.rda"))
          saveRDS(buoy_data,here::here("data-raw/current_data.rds"))
          rm(buoy_data)
        shell: Rscript {0}

      - name: Pull nbdc data via ERDDAP
        run: |
          options(timeout = 60 * 60 * 6)
          source(here::here("data-raw/create_buoy_data_dataset.R"))
          newData <- create_buoy_data_dataset(exportFile=T,isRunLocal = F)
          saveRDS(newData,here::here("data-raw/new_data.rds"))
        shell: Rscript {0}

      - name: Compare current pull with existing
      # creates an rmd to send as email
      # adds content to news.md
      # increments package version in description
        run: |
          options(timeout = 60 * 60 * 6)
          source(here::here("data-raw/compare_data.r"))
          source(here::here("data-raw/update_description.R"))
          source(here::here("data-raw/update_news.R"))
          diffs <- compare_data()
          version <- update_description(diffs,digit=3)
          update_news(version,diffs)
          rmarkdown::render(here::here("data-raw/sendAsEmail.Rmd"),
                    params = diffs)
          saveRDS(version,here::here("data-raw/version.rds"))
        shell: Rscript {0}

      - name: render readme.rmd
        run: |
          options(timeout = 60 * 60 * 6)
          rmarkdown::render(here::here("README.Rmd"))
        shell: Rscript {0}

      # Send email indicating if anything has changed
      - name: Send email
        uses: dawidd6/action-send-mail@v3

        with:
          server_address: smtp.gmail.com
          server_port: 465

          username: ${{ secrets.MAIL_USERNAME }}
          password: ${{ secrets.MAIL_PASSWORD }}

          subject: TEST - Github Actions job result
          to: andrew.beet@noaa.gov

          from: buoyData GitHub

          #body: file://${{github.workspace}}/data-raw/datapull.txt

          html_body: file://${{github.workspace}}/data-raw/sendAsEmail.html

          #attachments: ./data-raw/sendAsEmail.html

      - name: commit data files
        run: |
           git config user.name github-actions
           git config user.email github-actions@github.com
           git add data/buoy_data.rda
           git add data-raw/datapull.txt
           git add README.Rmd
           git add README.md
           git add NEWS.md
           git add DESCRIPTION
           git commit -m "automated commit from pull_erddap yml"
           git push

      - name: create gh-release
        run: |
             version <- readRDS(here::here("data-raw/version.rds"))
             if(!is.null(version)){
                usethis::use_github_release(publish = T)
             }
        shell: Rscript {0}


